.spacing{
    margin-top: 20px;
}
div {
    border: 3px #E52D2D;
    padding: 5px;
}

.content{
    margin-right: 20px;
    margin-left: 20px;
    border: 10px black;  
    padding: 5px;
    
}

.image_01{
    float: right;
    clear: both;
}
h1{
    text-shadow: 2px 2px red;
}


.center {
    margin: auto;
    width: 90%;
    border: 3px black;
    padding: 10px;
  }

.stay_home{
      margin-top: 30px;
      
  }

.details{
    margin-left: 20px;
    margin-right: 20px;
}  

#img-center{
    width: 430px;
    height: 250;
    
}
.img-center{
    border:1px gray;
    margin: 20px;
    
}

img:hover{
    border:1px solid gray;
}