.spacing{
    margin-top: 20px;
}
div {
    border: 3px #E52D2D;
    padding: 5px;
}

.content{
    margin-right: 20px;
    margin-left: 20px;
    border: 10px black;  
    padding: 5px;
    
}

.image_01{
    float: right;
    clear: both;
}
h1{
    text-shadow: 2px 2px red;
}
div.gallery{
    margin: 20px;
    border:1px solid #ccc;
    float:left; 
    max-height: 260px;
    max-width: 560px;
    
}
div.gallery:hover{
    border: 1px solid #777;
}
div.gallery img{
    width: 100%;
    height: auto;
    max-height: 250px;
    max-width: 550px;   
}

.center {
    margin: auto;
    width: 90%;
    border: 3px black;
    padding: 10px;
  }

#stay_home{
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      max-width: 100%;
      height: auto;
  }

.details{
    margin-left: auto
    margin-right: auto;
}  

#img-center{
    width: 430px;
    height: 250;
    margin-right: auto;
    margin-left: auto;
}
#banner{
    opacity: 0.95;
    display: block;
    margin-left: auto;
    margin-right: auto;
}